html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f1f1f1;
}

/* Reset default styles */
body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Style the navigation */
nav {
    background-color: #333;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: 1.65em;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
}

/* Style the active link */
nav ul li a.active {
    background-color: #555;
}

/* Style the index section */
#index {
    background-color: #f1f1f1;
    padding: 50px;
    text-align: center;
    padding-bottom: 375px;
    height: 40dvh;
}

#index h1 {
    padding-top: 10%;
    font-size: 4.5em;
    color: #4d94d1;
    transition: color 0.3s ease;
}

#index h1:hover {
    color:#1662a5;
}

#index p {
    font-size: 24px;
    color: #777;
    margin-bottom: 20px;
}

/* Style the sections */
section {
    padding: 50px;
}

section h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

section h3 {
    margin: 0px 0px;
}

section p {
    padding: 0.2em 0.1em;
    margin: 0;
}


section a {
    display: inline-block;
    margin: 2px 0;
    padding: 4px 10px;
    font-size: 0.8em;
    background-color: rgba(159, 159, 159, 0.3);
    color: black;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
    width: auto;
}

section a:hover {
    background-color: rgba(109, 163, 239, 0.5);
}






footer {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px;
    min-height: 100%;
    flex-shrink: 0;
}

footer div {
    display: flex;
    flex-direction: column;
}

footer div ul {
    list-style: none;   
}

footer div ul li {
    color: white;
    margin: 3px;
}

footer li {
    display: flex;
    flex-direction: column;
}

footer div ul li a {
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    font-size: 1em;
    transition: color 0.3s ease;
}

footer div ul li a:hover {
    color: #68a5db;
}

footer div ul li a img {
    width: 35px;
    margin-right: 5px;
}







.flex-list {
    list-style: none;
    display: flex;
    margin: 10px 0;
    flex-wrap: wrap;
}

.flex-list li {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.background-blue li {
    background-color: rgba(109, 163, 239, 0.5);
}

.background-grey li {
    background-color: rgba(159, 159, 159, 0.3);
}


#cv {
    text-align: left;
    font-size: larger;
}


.cv-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cv-header-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cv-header-left p {
    text-align: left;
    padding-top: 0;
    margin: 2px;
}

.cv-header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.cv-header-right p {
    text-align: right;
    font-size: 1.5rem;
    padding: 0 0.2em;
    margin: 0;
}



.cv-item {
    margin: 20px 0px;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.cv-item .cv-header h3 {
    margin: 0;
    font-size: 175%;
}


.cv-description p {
    width: 100%;
    margin: 5px 0px;
    font-size: 1.2em;
    color:#272727;
}


.cv-title {
    color:rgb(102, 147, 210);
    font-size: 200%;
    border-bottom: rgb(102, 147, 210);
    border-bottom-style: solid;
    padding-bottom: 5px;
    padding-top: 35px;
}



.dot-list {
    list-style-type: none;
    padding-left: 1.5em;
    position: relative;
    margin-bottom: 20px;
}

.dot-list li {
    padding-left: 0;
    position: relative;
    font-size: 1.2em;
}

.dot-list li::before {
    content: "•";
    position: absolute;
    left: -1em;
}








.flex-row-start {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex-row-start .cv-header h3 {
    font-size: 2.5rem;
}

.flex-row-start a {
    font-size: 1.5rem;
    border-radius: 3px;
}

.flex-row-start .cv-content {
    flex: 1;
}

.flex-row-start img {
    padding: 0;
    width: 500px;
    margin: 0.75em;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.flex-col-space {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1;
}









.font-larger {
    font-size: 3rem;
}

.font-normal {
    font-size: 1.3em;
}

.font-smaller {
    font-size: 1.27rem;
}

.font-title {
    font-size: larger;
    font-size: 300%;
}

.font-huge {
    font-size: 375%;
}

.color-blue {
    color:rgba(109, 163, 239, 1);
}

.color-grey {
    color:rgb(60, 60, 60);
}


.font-bold {
    font-weight: bold;
}

.underline {
    text-decoration-line: underline;
}

.grade {
    color:#000000;
}

.school {
    font-size: 1.3em;
    color: black;
}


.padding-small {
    padding: 0.5em;
}

.bot-padding-small {
    padding-bottom: 0.5em;
}

.bot-padding-medium {
    padding-bottom: 0.75em;
}